/*
  SPACING SYSTEM (px)
  2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

  FONT SIZE SYSTEM (px)
  10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98
*/
.about {
  margin: 0 auto;
  padding: 4rem;
  background-color: rgb(228, 228, 228);
  height: 100vh;
}
.about .about-picture {
  width: 360px;
  height: auto;
  border: solid 1px black;
  border-radius: 40%;
  animation: fadeInRight 1.5s both;
}
.about .about-container {
  display: flex;
  align-items: center;
  margin-bottom: 48px;
}
.about h1 {
  font-family: "Rammetto One", cursive;
  color: #333;
  line-height: 1.3;
  font-size: 2.4rem;
}

@keyframes fadeInLeft {
  0% {
    opacity: 0;
    transform: translateX(-200px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes fadeInRight {
  0% {
    opacity: 0;
    transform: translateX(200px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
.about-info {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-bottom: 24px;
  animation: fadeInLeft 2s both;
}
.about-info h1:first-child {
  margin-top: 36px;
}
.about-info p {
  align-self: flex-start;
}

.about-links {
  display: flex;
  align-items: center;
  gap: 20px;
  animation: fadeInLeft 2s both;
}
.about-links a {
  align-items: center;
  display: flex;
  justify-content: center;
  position: relative;
}
.about-links a:hover .social-icon {
  stroke: white;
  fill: white;
}
.about-links a:hover .social-anchor-circle {
  transform: translateY(0%) scale(1);
}

.social-icon {
  width: 40px;
  height: 40px;
  transition: all 0.4s ease-out;
  z-index: 1;
}

.social-anchor-circle {
  background-color: #333;
  border-radius: 50%;
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: 40px;
  height: 40px;
  transform: translateY(0%) scale(0);
  transition: all 0.4s ease-out;
}

.about_tech-stack {
  display: flex;
  align-items: center;
}
.about_tech-stack .about_tech-stack-title {
  border-radius: 0;
  border: none;
  height: 36px;
  padding-right: 16px;
  box-shadow: none;
  font-weight: 600;
  width: auto;
  background-color: transparent;
  border-right: solid 1px black;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}
.slider {
  overflow: hidden;
  position: relative;
  display: flex;
}

.slider:before,
.slider:after {
  position: absolute;
  top: 0;
  width: 80px;
  height: 100%;
  content: "";
  z-index: 2;
}

.slider:before {
  left: 0;
  background: linear-gradient(to left, rgba(255, 255, 255, 0), rgb(228, 228, 228));
}

.slider:after {
  right: 0;
  background: linear-gradient(to right, rgba(255, 255, 255, 0), rgb(228, 228, 228));
}

.slider .slide-track {
  animation: scroll 20s linear infinite;
  display: flex;
  width: 1176px;
}

.slider:hover .slide-track {
  animation-play-state: paused;
}

.slide-track {
  display: flex;
  align-items: center;
  gap: 20px;
  width: 100%;
}
.slide-track .slide {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  width: 64px;
  height: 64px;
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.09);
}
.slide-track div:first-child {
  margin-left: 20px;
}
.slide-track img {
  -o-object-fit: contain;
     object-fit: contain;
  width: 36px;
  height: auto;
}/*# sourceMappingURL=About.css.map */