@import "./Variables.scss";

.home {
  margin: 0 auto;
  padding: 2rem;
  background-color: rgb(228, 228, 228);
  height: 100vh;

  h1 {
    font-family: "Rammetto One", cursive;
    color: $text-color;
    line-height: 1.3;
    font-size: 2.4rem;
  }
}

.home-picture {
  width: 90%;
  height: auto;
  border: solid 1px black;
  border-radius: 40%;
  animation: fadeInRight 1.5s both;

}

.home-container {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  margin-bottom: 48px;
}

@keyframes fadeInLeft {
  0% {
    opacity: 0;
    transform: translateX(-200px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadeInRight {
  0% {
    opacity: 0;
    transform: translateX(200px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}


.home-info {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-bottom: 24px;
  animation: fadeInLeft 2s both;

  h1:first-child {
    margin-top: 36px;
  }

  p {
    // width: 50%;
    align-self: flex-start;
  }
}

.home-links {
  display: flex;
  align-items: center;
  gap: 20px;
  animation: fadeInLeft 2s both;

  a {
    align-items: center;
    display: flex;
    justify-content: center;
    position: relative;
  }

  a:hover .social-icon {
    stroke: white;
    fill: white;
  }

  a:hover .social-anchor-circle {
    transform: translateY(0%) scale(1);
  }
}

.social-icon {
  width: 40px;
  height: 40px;
  transition: all 0.4s ease-out;
  z-index: 1;
}

.social-anchor-circle {
  background-color: #333;
  border-radius: 50%;
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: 40px;
  height: 40px;
  transform: translateY(0%) scale(0);
  transition: all 0.4s ease-out;
}

.home_tech-stack {
  display: flex;
  align-items: center;
}

.home_tech-stack-title {
  border-radius: 0;
  border: none;
  padding-right: 16px;
  box-shadow: none;
  font-weight: 600;
  width: auto;
  background-color: transparent;
  border-right: solid 1px black;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

.slider {
  overflow: hidden;
  position: relative;
  display: flex;
}

.slider:before,
.slider:after {
  position: absolute;
  top: 0;
  width: 80px;
  height: 100%;
  content: "";
  z-index: 2;
}

.slider:before {
  left: 0;
  background: linear-gradient(
    to left,
    rgba(255, 255, 255, 0),
    rgb(228, 228, 228)
  );
}

.slider:after {
  right: 0;
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0),
    rgb(228, 228, 228)
  );
}

.slider .slide-track {
  animation: scroll 30s linear infinite;
  display: flex;
  width: calc(84px * 14);
}

.slider:hover .slide-track {
  animation-play-state: paused;
}

.slide-track {
  display: flex;
  align-items: center;
  gap: 20px;
  width: 100%;

  .slide {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    width: 64px;
    height: 64px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.09);
  }

  div:first-child {
    margin-left: 20px;
  }

  img {
    object-fit: contain;
    width: 36px;
    height: auto;
  }
}

@media screen and (min-width: $breakpoint-small) {
  .home-picture {
    width: 70%;
  }
}


@media screen and (min-width: $breakpoint-medium) {
  .home {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    h1 {
      font-size:3rem;
    }

    p {
      font-size: 1.6rem;
      width: 90%;
      color: #474747;
    }
  }
  
  .social-icon {
    width: 60px;
    height: 60px;
  }

  .social-anchor-circle {
    width: 60px;
    height: 60px;
  }

  .home-container {
    width: 90%;
    display: flex;
    justify-content: center;
    flex-direction: row;
  }

  .home_tech-stack {
    width: 90%;
  }
  .home-picture {
    width: 50%;
  }
}

@media screen and (min-width: $breakpoint-large) {
  .home {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 4rem;

    h1 {
      font-size: 2.5rem;
    }

    p {
      font-size: 1.2rem;
      width: 90%;
      color: #474747;
    }

    .social-icon {
      width: 60px;
      height: 60px;
    }

    .social-anchor-circle {
      width: 60px;
      height: 60px;
    }
  }

  .home-picture {
    width: 40%;
  }

  .home-container {
    width: 80%;
    display: flex;
    justify-content: center;
    flex-direction: row;
  }

  .home_tech-stack {
    width: 80%;
  }

  .slider .slide-track {
    width: calc(88px * 14);
  }

  .slide-track {
    .slide {
      width: 64px;
      height: 64px;
    }

    div:first-child {
      margin-left: 20px;
    }

    img {
      object-fit: contain;
      width: 40px;
      height: auto;
    }
  }

  .home_tech-stack-title {
    font-size: 1.3rem;
  }
}

// @media screen and (min-width: $breakpoint-xlarge) {
//   .home {
//     width: 100%;

//     .home-container {
//       width: 60%;
//       display: flex;
//       justify-content: center;
//       align-items: center;
//       flex-direction: row;
//     }
//   }
// }

//   .home-container {
//     // width: 60%;
//     display: flex;
//     flex-direction: column;
//     padding: none;
//   }
// }
