@import "./Variables.scss";

.projects-container {
  width: 60%;
  margin: 0 auto;
  padding-top: 4rem;

}

.section-title {
  color: $text-color;
  font-size: 32px;
  // text-decoration: underline;
  // text-align: center;
  margin-bottom: 32px;
}
