@import "./Variables.scss";
// https://css-tricks.com/css-only-carousel/

.projects-container {
  width: 100%;
  padding-top: 4rem;
  padding-bottom: 4rem;
  display: flex;
  background-color: bisque;
  position: relative;
}

.hidden-project {
  display: none;
}

.current-project {
  display: block;
}

.carousel {
  display: flex;
  gap: 20px;
  align-items: center;
  margin-bottom: 48px;
}

.div-container {
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
}

.arrow {
  width: 48px;
  height: 48px;
  position: absolute;
}

.arrow-left {
  left: 120px;
}

.arrow-right {
  right: 120px
}

.arrow:hover {
  cursor: pointer;
}

.arrow:active {
  opacity: 50%;
}

.section-title {
  color: $text-color;
  font-size: 32px;
  font-family: "Rammetto One", cursive;
  margin-bottom: 32px;
  align-self: flex-start;
}

.carousel-btns {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.circle {
  width: 24px;
  height: 24px;
}

.circle:hover {
  cursor: pointer;
  stroke: pink;
  fill: pink;
}

.grey {
  fill: rgb(179, 177, 177);
  stroke: rgb(179, 177, 177);
}
