@import "./Variables.scss";

.projects {
  width: 100%;
  padding: 4rem 0;
  position: relative;
  background-image: linear-gradient(#fff3bf, rgba(173, 230, 216, 0.4784313725));
}

.section-title {
  text-align: center;
  color: $text-color;
  font-size: 32px;
  font-family: "Rammetto One", cursive;
}

.projects-container {
  display: flex;
  align-items: center;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-snap-align: center;
  gap: 30px;
  margin: 24px 0;
  border-radius: 10px;
  height: 60vh;
}

.projects-container::-webkit-scrollbar {
  display: none;
}

.arrow {
  width: 48px;
  height: 48px;
  position: absolute;
  background-color: transparent;
  border: none;
  top: 64px;

  img {
    width: 100%;
    height: auto;
  }
}

.arrow-left {
  left: 2rem;
}

.arrow-right {
  right: 2rem;
}

.arrow:hover {
  cursor: pointer;
  opacity: 70%;
}

.disabled:hover {
  cursor: auto;
  opacity: 50%;
}

.arrow:active {
  opacity: 50%;
}

.carousel-btns {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.circle {
  width: 24px;
  height: 24px;
}

.circle:hover {
  cursor: pointer;
  stroke: grey;
  fill: grey;
}

.grey {
  fill: rgb(179, 177, 177);
  stroke: rgb(179, 177, 177);
}

.disabled {
  opacity: 50%;
}

@media screen and (min-width: $breakpoint-small) {
  .projects-container {
    height: 60vh;
  }

  .arrow-left {
    left: 20%;
  }

  .arrow-right {
    right: 20%;
  }
}

@media screen and (min-width: $breakpoint-medium) {
  .projects {
    padding: 4rem 0;
  }

  .projects-container {
    height: 70vh;
  }
}

@media screen and (min-width: $breakpoint-large) {
  .arrow {
    top: 50%;
  }

  .arrow-left {
    left: 10%;
  }

  .arrow-right {
    right: 10%;
  }

  .projects {
    padding: 4rem 10rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .projects-container {
    width: 90%;
    align-self: center;
  }
}

@media screen and (min-width: $breakpoint-xlarge) {
  .projects {
    padding: 4rem 10rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .arrow-left {
    left: 15%;
  }

  .arrow-right {
    right: 15%;
  }

  .projects-container {
    width: 70%;
    align-self: center;
  }
}
